@import url('http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900%7CDosis:200,300,400,500,600,700,800%7COswald:300,400,700%7CMontserrat:400,700');

body {
    margin: 0px;
    padding: 0px;

    overflow: hidden;
}

/* CHANGE URL FOR BACKGROUND */
html, body {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url(https://i.imgur.com/Q1kfP4p.png);
	overflow: hidden;
	background-attachment: fixed
}

#projector {
  position: absolute; 
  top: 0px;
  left: 0px;
  width:100%;
  height:100%;
} 

.center-div {
	width:580px;
    height:374px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -290px;
    margin-top:  -187px;
}

#preloaderDiv
{
	position:absolute;
	left:50%;
    top:50%;
    margin-left: -27px;
    margin-top:  -27px;
}


/* -----LOGO SIZE CHANGE HEIGHT AND WEIGHT*/
.logo {
    width: 450px;
    height: 450px;
    margin: auto;
    z-index: 100;
    left: 38%;
    top: 15%;
    position: absolute;
}


    /*loadbaar-3*/
    
    .loader-3 .dot {
        width: 10px;
        height: 10px;
        background: #ffffff;
        border-radius: 50%;
        position: absolute;
        top: 600px;
        margin-left: 932px;
    }
    
    .loader-3 .dot1 {
        left: 0px;
        -webkit-animation: dot-jump 0.5s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
        animation: dot-jump 0.5s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
    }
    
    .loader-3 .dot2 {
        left: 20px;
        -webkit-animation: dot-jump 0.5s 0.2s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
        animation: dot-jump 0.5s 0.2s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
    }
    
    .loader-3 .dot3 {
        left: 40px;
        -webkit-animation: dot-jump 0.5s 0.4s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
        animation: dot-jump 0.5s 0.4s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
    }

    
    @-webkit-keyframes dot-jump {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-15px);
        }
    }
    
    @keyframes dot-jump {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-15px);
        }
    }
